<%- include("../shared/_header") %>

<div class="container mt-5">
    <h1>Create New Feature</h1>
    <hr class="my-5">
    <%- include("./_form") %>
    <a href="/features">Back to features</a>
</div>

<%- include("../shared/_footer") %>
