<%- include("../shared/_header") %>

<main role="main" class="container my-5">
    <div class="text-center">
        <h1 class="display-4">Welcome to the Nexus</h1>
        <p class="lead">Your one-stop portal for [describe purpose when known].</p>
    </div>

    <section class="my-5 text-center">
        <h2>Contact Information</h2>
        <p>Interested in contacting me, please use one of the various methods</p>
        <ul class="list-unstyled mx-auto" style="max-width: 400px;">
            <li>Email Address: matthew.antonis@gmail.com</li>
            <li>Phone Number: 416-779-5923</li>
            <li>Slack Profile: <a href="https://gccompstudies.slack.com/team/U05RBMAAG76">https://gccompstudies.slack.com/team/U05RBMAAG76</a></li>
        </ul>
    </section>    
</main>

<%- include("../shared/_footer") %>